html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* all links */
 .nav>li>a {
    padding: 4px 20px;

}

/* nested links */
 .nav .nav>li>a {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 30px;
}