<header>

<nav class="top-nav blue">
    <div class="container">
      <div class="nav-wrapper">
        <a class="page-title">{{page.title}}</a>
      </div>
  </div>
</nav>

<div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="mdi-navigation-menu"></i></a></div>

<ul id="nav-mobile" class="side-nav fixed" style="left: 0px; width:300px;">
  <a href="{{ site.baseurl }}/">Matters in Media Art</a>
        <li class="no-padding">
          <ul class="">
            <li class="bold active" ><a class="waves-effect waves-blue" href="{{ site.baseurl }}/lending_2005/">Lending time-based media: 2005</a>
              <div class="" style="display: block;">
                <ul>
                  <li class="hoverable-depth-1"><a class="waves-effect waves-blue" href="{{ site.baseurl }}/lending_2005/loan-process.html">Loan process diagram</a></li>
                  <li class="hoverable-depth-1"><a class="waves-effect waves-blue" href="{{ site.baseurl }}/lending_2005/loan-process-guidelines.html">Loan process guidelines</a></li>
                  <li class="hoverable-depth-1"><a class="waves-effect waves-blue" href="{{ site.baseurl }}/lending_2005/budget-guidelines.html">Budget guidelines</a></li>
                  <li class="hoverable-depth-1"><a class="waves-effect waves-blue" href="{{ site.baseurl }}/lending_2005/loan-agreement-guidelines.html">Loan agreement guidelines</a></li>
                  <li class="hoverable-depth-1"><a class="waves-effect waves-blue" href="{{ site.baseurl }}/lending_2005/facilities-report-guidelines.html">Facilities report</a></li>
                  <li class="hoverable-depth-1"><a class="waves-effect waves-blue" href="{{ site.baseurl }}/lending_2005/installation-documentation-guidelines.html">Installation documentation guidelines</a></li>
                  <li class="hoverable-depth-1"><a class="waves-effect waves-blue" href="{{ site.baseurl }}/lending_2005/condition-report-guidelines.html">Condition report guidelines</a></li>
                </ul>
              </div>
            </li>
            <li class="bold"><a class="waves-effect waves-blue" href="{{ site.baseurl }}/acquiring_2008/">Acquiring time-based media: 2008</a>
              <div class="" style="">
                <ul>
                  <li class="hoverable-depth-1"><a class="waves-effect waves-blue" href="{{ site.baseurl }}/acquiring_2008/process-diagram.html">Process diagram</a></li>
                  <li class="hoverable-depth-1"><a class="waves-effect waves-blue" href="{{ site.baseurl }}/acquiring_2008/pre-acquisitions.html">Pre-acquisitions</a></li>
                  <li class="hoverable-depth-1"><a class="waves-effect waves-blue" href="{{ site.baseurl }}/acquiring_2008/accessioning.html">Accessioning</a></li>
                  <li class="hoverable-depth-1"><a class="waves-effect waves-blue" href="{{ site.baseurl }}/acquiring_2008/post-acquisitions.html">Post-acquisitions</a></li>
                  <li class="hoverable-depth-1"><a class="waves-effect waves-blue" href="{{ site.baseurl }}/acquiring_2008/templates-acquisitions.html">Templates for acquisitions</a></li>
                  <li class="hoverable-depth-1"><a class="waves-effect waves-blue" href="{{ site.baseurl }}/acquiring_2008/records-time-based-media-works-art.html">Records for time-based media works of art</a></li>
                  <li class="hoverable-depth-1"><a class="waves-effect waves-blue" href="{{ site.baseurl }}/acquiring_2008/frequently-asked-questions.html">Frequently asked questions</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
</ul>

</header>