<header>

<div class="navbar-fixed">
  <nav id="nav">
    <div class="nav-wrapper white">

      <div class="row noselect">
        <div class="col s12 offset-s1">
          <i class="material-icons grey-text text-lighten-1 menuicon">reorder</i>
          <a href="{{site.baseurl}}/" class="brand-logo">
            <img src="{{site.baseurl}}/img/logo8.png" height="40px">
          </a>
          <br>

          <div id="nav-pages">
            <ul id="nav-mobile nav-pages" class="left main-nav">
              <li><a href="{{site.baseurl}}/acquiring-time-based-media-art.html" class="navhover">Acquisition</a></li>
              <li><a href="{{site.baseurl}}/assessing-time-based-media-art.html" class="navhover">Assessment</a></li>
              <li><a href="{{site.baseurl}}/lending-time-based-media.html" class="navhover">Loans</a></li>
              <li><a href="{{site.baseurl}}/sustaining-your-collection.html" class="navhover">Digital Preservation</a></li>
            </ul>
          </div>
          <div id="about-faq">
            <ul id="nav-mobile about-faq" class="right main-nav">
              <li><a href="{{site.baseurl}}/about.html" class="navhover">About</a></li>
              <li><a href="{{site.baseurl}}/faq.html" class="navhover">FAQ</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>


</header>
