<header>

<div class="navbar-fixed">
  <nav id="nav">
    <div class="nav-wrapper white">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a id="menubutton" class="menu">Menu</a></li>

        
      </ul>
      <div class="row">
                    <div class="col s9 offset-s1">

      <a href="{{site.baseurl}}/landing.html" class="brand-logo"><img src="{{site.baseurl}}/img/logo8.png" height="40px"></a>

      <br>

  </div>
</div>
    </div>
  </nav>
</div>        


</header>