
  <div id="main-slider" class="liquid-slider">
    



<div>
<h2 class="title">1. What is it?</h2>
<p>Understand what you are proposing to acquire: what is it?
Gather general information: artist, title, date, medium, duration, edition details, provenance, artist’s dates, credit line, display dimensions
Understand key qualities of the work and prepare a description of the elements necessary to maintain the integrity of the artwork. This includes:</p>
<ul>
<li>Artist statement about the work (from artist, gallery or seller)</li>
<li>Curatorial/collector statement for importance in collection</li>
<li>Non-technical description of what the viewer experiences</li>
<li>Basic installation specifications</li>
</ul>
</div>


<div markdown="1">
<h2 class="title">2. Explore Deeper</h2>
Based on the artist’s statement and installation instructions, determine the following:

* What are the essential vs. desirable exhibition conditions, including space requirements?
* What can and cannot be changed in the display?
* Can you physically display the work in your exhibition space?

You also need to determine:

* Original master: Where is it? What is the format? Where does it reside? Who owns it?
* Who owns the copyright to the work?
* Acquire reference images that will facilitate the acquisition process (stills or screen grabs, installation photo, exhibition copy, etc.)
</div>




<div markdown="1">
<h2 class="title">3. Assemble Expertise</h2>
* In order to proceed, the curator/collector will need to gather more detailed information relying on the expertise of a larger group of people.
* Large institutions may assemble a team comprising some or all of the following expertise: curatorial, conservation, registration exhibitions, technical/media/audio-visual, IT, legal/intellectual property.
* Collectors and small institutions may find knowledgeable technical support: contact a museum conservation department, art gallery, art consultant, and/or artist/studio to recommend sources.
</div>         




<div markdown="1">
<h2 class="title">4. Get the Details</h2>
Identify areas for further inquiry and pursue detailed information

Once team/resources are established, curator/collector presents the proposed acquisition. The following information may be gathered both internally and externally. Identify one person to be the co-ordinator for this process. In some circumstances, cataloguing the work may begin prior to acquisition (see details in post-acqusition phase).Before proceeding with the acquisition, consider the key questions at the head of each section below. These are indicated by solid bullets.

* Equipment
* Costs
* Installation Specifications
* Preacquistion Assesment
</div>





</div>


