<!DOCTYPE html>
<html>

  {% include head.html %}
{% include header.html %}
  <body>

    <style type="text/css">
@media only screen and (min-width : 993px) {
  .container {
    width: 85%;
    margin-left: 9%;
     } }

    </style>

  
  <main>
    
    <div class="container">
    	
      <div class="row row-title">
        <div class="col s12 m9 offset-m3">
               <h1>{{page.title}}</h1>
          </div>
      </div>
    	<div class="row">


{% if page.title == "Acquiring Time-Based Media Art" %}

  <div id="contextualmenu" class="col hide-on-small-only m1 l2 s1 contextualmenu pinned">
    <ul class="section table-of-contents">
      <li><a href="#pre-acquisition">Pre-acquisition</a></li>
      <li><a href="#accessioning">Accessioning</a></li>
      <li><a href="#post-acquisition">Post Acquisition</a></li>
      <li><a href="#templates">Templates for Acquisitions</a></li>
      <li><a href="#faq">Frequently Asked Questions</a></li>
    </ul>
  </div>

{% endif %}




{% if page.title == "Assessing Time-Based Media Art" %}

  <div id="contextualmenu" class="col hide-on-small-only m1 l2 s1 contextualmenu pinned">
    <ul class="section table-of-contents">
      <li><a href="#guidelines">Condition Report Guidelines</a></li>
      <li><a href="#media-types">Media Types</a></li>
      <li><a href="#display-equipment">Display Equipment</a></li>
      <li><a href="#installation">Successful Installation?</a></li>
      <li><a href="#templates">Templates</a></li>
    </ul>
  </div>

{% endif %}




{% if page.title == "Lending Time-based media art" %}

  <div id="contextualmenu" class="col hide-on-small-only m1 l2 s1 contextualmenu pinned">
    <ul class="section table-of-contents">
      <li><a href="#process">Loan Process</a></li>
      <li><a href="#budget">Budget</a></li>
      <li><a href="#agreement">Loan Agreement</a></li>
      <li><a href="#facilities-report">Facilities Report</a></li>
      <li><a href="#documentation">Installation Documentation</a></li>
    </ul>
  </div>

{% endif %}






{% if page.title == "Sustaining Your Collection" %}

  <div id="contextualmenu" class="col hide-on-small-only m1 l2 s1 contextualmenu pinned">
    <ul class="section table-of-contents">
      <li><a href="#context">Your Context: Budget/Skills</a></li>
      <li><a href="#information-systems">Information Systems</a></li>
      <li><a href="#scoping-system">Scoping Your System</a></li>
      <li><a href="#developing">Developing Your System</a></li>
      <li><a href="#prepare">Preparing Your Collection</a></li>
      <li><a href="#store">Store Your Collection</a></li>
    </ul>
  </div>

{% endif %}


{% if page.title == "About Matters in Media Art" %}

  <div id="contextualmenu" class="col hide-on-small-only m1 l2 s1 contextualmenu pinned">
    <ul class="section table-of-contents">
      <li><a href="#about">About</a></li>
      <li><a href="#project-history">Project History</a></li>
      <li><a href="#contribution-guidelines">Contribution Guidelines</a></li>
      <li><a href="#the-team">The Team</a></li>

    </ul>
  </div>

{% endif %}



    		      <div class="col s12 m7 offset-m3">
    		      	{{ content }}
    		      </div>

    	</div>

    </div>
  </main>


    {% include footer.html %}

<div id="backtotop" class="center">
  <i class="material-icons">navigation</i>
  <br>
  back to top
</div>

  </body>

</html>
