<!DOCTYPE html>
<html>

  {% include head.html %}
{% include header.html %}
  <body>

  
  <main>
    
    <div class="container">
    	
      <div class="row">
        <div class="col s10 offset-s2">
               <h1>{{page.title}}</h1>
          </div>
      </div>
    	<div class="row">



{% if page.title == "Sustaining Your Collection" %}

  <div id="contextualmenu" class="col hide-on-small-only m1 l2 s1 contextualmenu pinned">
    <ul class="section table-of-contents">
      <li><a href="#scoping-collection">Scoping Your Collection</a></li>
      <li><a href="#context">Your Context: Budget/Skills</a></li>
      <li><a href="#information-systems">Information Systems</a></li>
      <li><a href="#scoping-system">Scoping Your System</a></li>
      <li><a href="#developing">Developing Your System</a></li>
      <li><a href="#prepare">Preparing Your Collection</a></li>
      <li><a href="#store">Store Your Collection</a></li>
    </ul>
  </div>

{% endif %}



    		      <div class="col s7 offset-s2">
    		      	{{ content }}
    		      </div>

    	</div>

    </div>
  </main>


    {% include footer.html %}

  </body>

</html>
