<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <ul class="nav nav-stacked fixed">
            <li><a href="{{ site.baseurl }}/lending_2005/">Lending time-based media: 2005</a></li>
              <ul class="nav nav-stacked">
                <li><a href="{{ site.baseurl }}/lending_2005/loan-process.html">Loan process diagram</a></li>
                <li><a href="{{ site.baseurl }}/lending_2005/loan-process-guidelines.html">Loan process guidelines</a></li>
                <li><a href="{{ site.baseurl }}/lending_2005/budget-guidelines.html">Budget guidelines</a></li>
                <li><a href="{{ site.baseurl }}/lending_2005/loan-agreement-guidelines.html">Loan agreement guidelines</a></li>
                <li><a href="{{ site.baseurl }}/lending_2005/facilities-report-guidelines.html">Facilities report</a></li>
                <li><a href="{{ site.baseurl }}/lending_2005/installation-documentation-guidelines.html">Installation documentation guidelines</a></li>
                <li><a href="{{ site.baseurl }}/lending_2005/condition-report-guidelines.html">Condition report guidelines</a></li>
              </ul>
            <li><a href="{{ site.baseurl }}/acquiring_2008/">Acquiring time-based media: 2008</a></li>
            <ul class="nav nav-stacked">
              <li><a href="{{ site.baseurl }}/acquiring_2008/process-diagram.html">Process diagram</a></li>
              <li><a href="{{ site.baseurl }}/acquiring_2008/pre-acquisitions.html">Pre-acquisitions</a></li>
              <li><a href="{{ site.baseurl }}/acquiring_2008/accessioning.html">Accessioning</a></li>
              <li><a href="{{ site.baseurl }}/acquiring_2008/post-acquisitions.html">Post-acquisitions</a></li>
              <li><a href="{{ site.baseurl }}/acquiring_2008/templates-acquisitions.html">Templates for acquisitions</a></li>
              <ul>
                <li><a href="{{ site.baseurl }}/acquiring_2008/records-time-based-media-works-art.html">Records for time-based media works of art</a></li>
              </ul>
              <li><a href="{{ site.baseurl }}/acquiring_2008/frequently-asked-questions.html">Frequently asked questions</a></li>
            </ul>
          </ul>
          

        </div>
        <div class="col-md-9">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
